
Data cleaning operation on data set which include treatment of missing value, smoothing of noisy data by binning method.

In [1]:
import pandas as pd
import matplotlib.pyplot as plt
import numpy as np
from matplotlib import style
style.use('ggplot')
plt.rcParams['figure.figsize'] = 10,7

In [2]:
df = pd.read_csv("Combine_Data.csv")

In [8]:
df.shape

(42765, 19)

In [3]:
df.columns
df.head()

,BillNo,BillQty,BillParty,BillDate,BillProdNo,BillProdCode,BillProdName,BillAddTax,BillRate,BillVat,BillAmt,BillFree,BillPartyType,ProdCategory,ProdPRate,ProdSRate,month,year,weekday
0,E1617-75852,10.00,NaN,2019-01-16,2,BAT01,BATAKA,0,14.0,0.0,140.0,0.0,R,Vegetable,12.000,18.0,1,2019,Wednesday
1,E1617-75852,6.00,NaN,2019-01-16,1,DUN01,DUNGRI,0,12.0,0.0,72.0,0.0,R,Vegetable,10.000,16.0,1,2019,Wednesday
2,E1617-75853,3.00,HAREKRISHNA BAKERY,2019-01-16,1,RIN07,RINGAN BHARTHA,0,38.0,0.0,114.0,0.0,R,Vegetable,35.000,52.0,1,2019,Wednesday
3,E1617-75854,0.25,NaN,2019-01-16,1,GAJ01,GAJAR,0,24.0,0.0,6.0,0.0,R,Vegetable,13.000,24.0,1,2019,Wednesday
4,E1617-75855,3.00,NaN,2019-01-16,1,BAN01,BANANA,0,3.4,0.0,10.2,0.0,R,Fruit,23.334,40.0,1,2019,Wednesday

### Handle Missing Values

In [4]:
#Find out total no of null values in each attribute.
df.isnull().sum()

BillNo               0
BillQty              0
BillParty        25735
BillDate             0
BillProdNo           0
BillProdCode         1
BillProdName         4
BillAddTax           0
BillRate             0
BillVat              0
BillAmt              0
BillFree             0
BillPartyType        0
ProdCategory        34
ProdPRate           57
ProdSRate           44
month                0
year                 0
weekday              0
dtype: int64

In [9]:
#remove row based on subset parameter
df.dropna(how="any", subset=["ProdCategory", "ProdPRate", "ProdSRate","BillParty"], inplace=True)

In [10]:
df.isnull().sum()

BillNo           0
BillQty          0
BillParty        0
BillDate         0
BillProdNo       0
BillProdCode     0
BillProdName     0
BillAddTax       0
BillRate         0
BillVat          0
BillAmt          0
BillFree         0
BillPartyType    0
ProdCategory     0
ProdPRate        0
ProdSRate        0
month            0
year             0
weekday          0
dtype: int64

In [12]:
df.shape

(17070, 19)

In [26]:
# load iris data set 
value = df["BillAmt"]

In [16]:
value=np.sort(value)  #sort the array 
print(value)

[   0.    0.    0. ... 5750. 8100. 8800.]

### Bining

In [21]:
# create bins 
mean_bin=np.zeros((1707,10))  

# Bin mean 
for i in range (0,df.shape[0],10): 
    k=int(i/10) 
    mean=(value[i] + value[i+1] + value[i+2] + value[i+3] + value[i+3] + value[i+4] + value[i+5] + value[i+6] + value[i+7] + value[i+8] +value[i+9] )/10
    for j in range(10): 
        mean_bin[k,j]=mean 
print("Bin Mean: \n",mean_bin)

Bin Mean:
 [[4.900000e-01 4.900000e-01 4.900000e-01 ... 4.900000e-01 4.900000e-01
  4.900000e-01]
 [1.860000e+00 1.860000e+00 1.860000e+00 ... 1.860000e+00 1.860000e+00
  1.860000e+00]
 [2.457000e+00 2.457000e+00 2.457000e+00 ... 2.457000e+00 2.457000e+00
  2.457000e+00]
 ...
 [1.803000e+03 1.803000e+03 1.803000e+03 ... 1.803000e+03 1.803000e+03
  1.803000e+03]
 [2.300272e+03 2.300272e+03 2.300272e+03 ... 2.300272e+03 2.300272e+03
  2.300272e+03]
 [5.206820e+03 5.206820e+03 5.206820e+03 ... 5.206820e+03 5.206820e+03
  5.206820e+03]]

In [25]:
# Bin boundaries 

bound_bin = np.zeros((1707,10))
for i in range (0,df.shape[0],10): 
    k=int(i/10) 
    for j in range (10): 
        if (value[i+j]-value[i]) < (value[i+9]-value[i+j]): #if value closer to lower boundary then replace with it and if closer to higher boundary then replace with it.
            bound_bin[k,j]=value[i] 
        else: 
            bound_bin[k,j]=value[i+9]        
print("Bin Boundaries: \n",bound_bin)

Bin Boundaries:
 [[0.00000e+00 0.00000e+00 0.00000e+00 ... 1.20000e+00 1.20000e+00
  1.20000e+00]
 [1.28000e+00 1.28000e+00 1.28000e+00 ... 2.04000e+00 2.04000e+00
  2.04000e+00]
 [2.10000e+00 2.10000e+00 2.32000e+00 ... 2.32000e+00 2.32000e+00
  2.32000e+00]
 ...
 [1.60000e+03 1.60000e+03 1.60000e+03 ... 1.72500e+03 1.72500e+03
  1.72500e+03]
 [1.84072e+03 1.84072e+03 1.84072e+03 ... 2.32000e+03 2.32000e+03
  2.32000e+03]
 [2.34000e+03 2.34000e+03 2.34000e+03 ... 8.80000e+03 8.80000e+03
  8.80000e+03]]